*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



.container{
    text-transform: capitalize;
    color: white;
   
   
    
}

header{
    height: 100px;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    background-color: black;
    animation: header 1s linear  1 ;
     
    
    
}
@keyframes header{
    from{
        transform: translateY(-150px);
    }
    
}

.red{
    height: 600px;
    width: 90vw;
    
}


header img{
    
    height: 100px;
    width: 600px;
    
}

nav a:hover{
    background-color: red;
    box-shadow: 0px 0px 60px red;
    background-image: url(projectimages/fire.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

a:active{
    color: white;
}

a:visited{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    
}


nav li{
    display: inline-block;
    margin: 15px 25px;
    font-weight: bolder;
}

.video{
    background-color: red;
    height: 500px;
    width: 70vw;
    border-radius: 50% 0 0 50% ;
    margin: auto;
    position: relative;
    left: 200px;
    display: flex;
    box-shadow: 0px 0px 100px orangered;
    border: solid white;
    animation: vid 2s ease-in-out  1  ;
    
    
   
}

@keyframes vid{
    from{
       
        transform: translateX(2000px);
    }
}


.video p{
    width: 500px;
    position: absolute;
    left: 70px;
    top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 10px;
    text-align: justify;
    font-size: 20px;
    
}

.video video{
    height:400px;
     width:30vw;
     position: absolute;
     left: 600px;
     bottom: 70px;
}



.liked{
    margin-left: 50px;
    animation: word 1s ease-in-out  infinite alternate ;
}
@keyframes word{
    from{
        letter-spacing: 10px;
    }
    to{
        letter-spacing: 0px;
    }
}

.line{
    display:flex;
    justify-content: space-around;
    gap: 10px;
    animation: line 2s ease-in-out 1 ;
    
}

@keyframes line{
    from{
       
        transform: translateX(2000px);
    }
}

.dish{
    height: 550px;
    width:350px;
    border: solid white;
    border-radius: 30px;
    text-align: center;
    position: relative;
    background-color: black;
}

.dish img{
    height: 250px;
    width: 100%;
    border-top-left-radius:30px ;
    border-top-right-radius: 30px;
    
}
.star{
    position:relative;
    bottom: 50px;
     height: 150px;
    width: 145px;
}

footer{
    background-color: black;
    
    

}

.foothead{
    display: flex;
    justify-content: space-around;
    

}

footer h2{
    font-size: 20px;
    
}


.fontawesome{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.fontawesome i{
    font-size: 20px;

}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
}





@media screen and (min-width: 1200px){

    .line{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        padding: 20px;

    }
}


@media screen and (min-width:992px) and (max-width:1199px){
    .line{
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 15px;


    }
}

@media screen and (min-width:768px) and (max-width:991px){
    
    .line{
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(2,1fr) ;
        gap: 15px;
        padding: 12px;
        
    }
    .video{
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:767px){
    
    
    .line{
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(1,1fr);
        column-gap: 50px;
        padding: 10px;
        
        position: relative;
        left: 100px;
    }
     .video{
        display: none;
    }

    
}

@media screen and  (max-width:575px){
   .line{
        display: grid;
        justify-content: space-around;
        margin: auto;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        padding: 10px;
        position: relative;
        left: 100px;
    }
    .video{
        display: none;
    }

   
}







