*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
    
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(projectimages/sweet1.jpg);
    
    background-position:center;
    background-size: cover  ;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    
}

.container{
    text-transform: capitalize;
    color: white;
}

header{
    height: 120px;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    background-color: black;
    animation: header 1s linear  1 ;
     
    
    
}

@keyframes header{
    from{
        transform: translateY(-150px);
    }
    
}
header img{
    
    height: 100px;
    width: 600px;
    
}

nav a:hover{
    background-color: red;
    box-shadow: 0px 0px 60px red;
    background-image: url(projectimages/fire.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

a:active{
    color: white;
}

a:visited{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    
}


nav li{
    display: inline-block;
    margin: 15px 25px;
    font-weight: bolder;
}

.dish{
    height: 450px;
    width: 350px;
    border-radius: 30px;
    border: solid white;
    text-align: center;
    background-color: black;
    
}

.dish:hover{
    
    box-shadow: 0px 0px 100px red ;
}

.line{
    display: flex;
    justify-content: space-around;
    animation: line 2s ease-in-out 1 ;
}
@keyframes line{
    from{
       
        transform: translateX(2000px);
    }
}


.dish img{
    height: 350px;
    width: 100%;
    border-top-left-radius:20px ;
    border-top-right-radius: 30px;
}

.heading{
    margin-left: 50px;
    color: black;
    animation: word 1s ease-in-out  infinite alternate ;
}

@keyframes word{
    from{
        letter-spacing: 10px;
    }
    to{
        letter-spacing: 0px;
    }
}

@media screen and (min-width: 1200px){

    .line{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        padding: 20px;

    }
}


@media screen and (min-width:992px) and (max-width:1199px){
    .line{
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 15px;


    }
}

@media screen and (min-width:768px) and (max-width:991px){

    .line{
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(2,1fr) ;
        gap: 15px;
        padding: 12px;
    }
    header img{
        display: block;
    }
}

@media screen and (min-width:576px) and (max-width:767px){
    .line{
        display: block;
        
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        padding: 10px;
        position: relative;
        left: 100px;
    }
    header img{
        display: block;
    }
    
}

@media screen and  (max-width:575px){
   .line{
        display:block;
        justify-content: space-around;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        padding: 10px;
        
    }
    header img{
        display: block;
    }

}